<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--  link   -->
    <th:block th:insert="~{fragments/link :: linkFragment}" />

    <!-- join.css -->
    <link rel="stylesheet" href="/css/user/join.css" />

    <!-- user/join.js -->
    <script src="/js/user/join.js" defer></script>
</head>
<body>

<div class="wrapper">
    <header>
        <!-- header   -->
        <th:block th:insert="~{fragments/top_header :: topHeaderFragment}" />
        <!-- nav       -->
        <th:block th:insert="~{fragments/nav :: navFragment}" />

    </header>
    <main class="layout-150">
        <section class=breadcrum-block>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">홈</a></li>
                    <li class="breadcrumb-item active" aria-current="page">회원가입</li>
                </ol>
            </nav>
        </section>
        <section>

        </section>
        <section>
            <div class="main-block">
                <!--
                <aside class=left>


                </aside>
                -->
                <div class=right>

                    <div class="m-2 header"  >
                        <a href="javascript:void(0)" class="seeker_join">일반 회원</a> |
                        <a href="javascript:void(0)" class="offer_join">기업 회원</a>
                    </div>

                    <form action="/seeker/join" method="post" name="seekerJoin">
                        <div class="m-2">
                            <h3>일반회원 가입</h3>
                        </div>
                        <div class="mb-3"></div>
                        <div class="m-2">
                            <label for="">회원 아이디 : </label>
                            <input type="text" name="username"  class="form-control" />
                        </div>

                        <div class="m-2">
                            <label for="">패스워드 : </label>
                            <input type="password" name="password" class="form-control" />
                        </div>
                        <div class="m-2">
                            <label for="">패스워드 확인 : </label>
                            <input type="password"  name="repassword" class="form-control" />
                        </div>
                        <div class="m-2">
                            <label for="">우편번호 : </label>
                            <div class="" style="display:flex;justify-content:space-between;">
                                <input type="zipcode"  class="form-control me-2" style="width:250px;" />
                                <a href="" class="btn btn-secondary" style="width:80px">검색</a>
                            </div>
                        </div>
                        <div class="m-2">
                            <label for="">기본주소 : </label>
                            <div>
                                <input type="addr"  name="addr1" class="form-control mb-2"  placeholder="기본주소" />
                                <input type="addr_details"  name="addr_details"  class="form-control mb-2"  placeholder="상세주소" />
                            </div>
                        </div>
                        <div class="m-2">
                            <label for="">상세주소 : </label>
                            <div>
                                <input type="addr"  name="addr2" class="form-control mb-2"  placeholder="기본주소" />
                                <input type="addr_details"  name="addr_details"  class="form-control mb-2"  placeholder="상세주소" />
                            </div>
                        </div>
                        <div class="m-2">
                            <label for="">연락처 : </label>
                            <input type="text"  class="form-control" name="tel" placeholder="-없이 입력" />
                        </div>
                        <div class="m-2">
                            <button class="btn btn-success w-100 mb-2">회원가입</button>
                            <button class="btn btn-success w-100">이전으로</button>
                        </div>
                        <div>
                            <input type="hidden" name="type" value="seekerUser" />
                        </div>
                    </form>

                    <form action="/offer/join" method="post" name="offerJoin" class="hidden">
                        <div class="m-2">
                            <h3>기업회원 가입</h3>
                        </div>
                        <div class="mb-3"></div>
                        <div class="m-2">
                            <label for="">기업 아이디 : </label>
                            <input type="text" name="id"  class="form-control" />
                        </div>

                        <div class="m-2">
                            <label for="">패스워드 : </label>
                            <input type="password" name="password" class="form-control" />
                        </div>
                        <div class="m-2">
                            <label for="">패스워드 확인 : </label>
                            <input type="password"  name="repassword" class="form-control" />
                        </div>
                        <div class="m-2">
                            <label for="">회사명 : </label>
                            <input type="text"  class="form-control" name="offername" placeholder="-없이 입력" />
                        </div>
                        <div class="m-2">
                            <label for="">사업자 No. : </label>
                            <input type="text"  class="form-control" name="offeruumber" placeholder="-없이 입력" />
                        </div>
                        <div class="m-2">
                            <label for="">우편번호 : </label>
                            <div class="" style="display:flex;justify-content:space-between;">
                                <input type="zipcode" name="zipcode"  class="form-control me-2" style="width:250px;" />
                                <a href="" class="btn btn-secondary" style="width:80px">검색</a>
                            </div>
                        </div>
                        <div class="m-2">
                            <label for="">회사 주소 : </label>
                            <div>
                                <input type=text name="offeraddress"  class="form-control mb-2"  placeholder="기본주소" />
                                <input type="text" name="addr_details" class="form-control mb-2"  placeholder="상세주소" />
                            </div>
                        </div>
                        <div class="m-2">
                            <label for="">TEL : </label>
                            <input type="text"  class="form-control" name="offertel" placeholder="-없이 입력" />
                        </div>


                        <div class="m-2">
                            <button class="btn btn-success w-100 mb-3">회원가입</button>
                            <button class="btn btn-success w-100 mb-3">이전으로</button>
                        </div>
                        <div>
                            <input type="hidden" name="type" value="offerUser" />
                        </div>
                    </form>

                </div>
            </div>

        </section>

    </main>

    <!-- footer       -->
    <th:block th:insert="~{fragments/footer :: footerFragment}" />
</div>
</body>
</html>